body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34; /* Set the background color */
    color: white; /* Set text color */
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide overflow to prevent horizontal scrolling */
}

.text-container {
    display: flex;
    position: relative;
    overflow: hidden; /* Hide overflow to prevent horizontal scrolling */
}

.animated-text {
    opacity: 0;
    font-size: 2em;
    position: absolute;
    white-space: nowrap; /* Prevent words from breaking into multiple lines */
    z-index: 1; /* Ensure text appears above background */
}

/* Define animations */
@keyframes fromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}